DATABASE_URL="postgresql://postgres:postgres@localhost:5432/spacefunding_dev"
NEXTAUTH_SECRET="your-secret-minimum-32-characters-long-change-in-production"
NEXTAUTH_URL="http://localhost:3000"
MOCK_INTEGRATIONS="true"
MOCK_KYC="true"
NODE_ENV="development"
